.footer {
    width: 100%;
    background: #3D4050;
    display: flex;
    align-items: center;
    min-height: 80px;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @media (max-width: 991px) {
      padding: 10px 0;
      flex-direction: column;
      gap: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-size: 13px;
    line-height: normal;

    &_gray {
      color: #C3C3C3;
    }

    &-link {
      color: #FFF;
      font-size: 13px;
      line-height: normal;
      transition: .3s ease-in-out;
      &:hover {
        text-decoration: none;
        color: $main-color;
        transition: .3s ease-in-out;
      }
    }
  }

  &__line {
    width: 1px;
    height: 18px;
    background-color: #C3C3C3;

    @media (max-width: 991px) {
      display: none;
    }
  }
}